*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstcontainer{
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}
#design-logo{
    margin-top: 30px;
    margin-left: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 10px;
    
}
#first-container-list{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 30px;

}
.info{
    background-color: white;
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 0;
    font-size: 20px;
    color: black;
    border: none;

}


.info:active{
    transform: scale(0.89);
}
.first-text{
    text-align: center;
    margin-top: 200px;
    letter-spacing: 10px;
    color: white;
    font-family: 'Fraunces', serif;
    font-family: 'Josefin Sans', sans-serif;
}

li{
    margin-top: 5px;
    color: white;
}
.second-container{
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
    /* align-items: center; */
}
.text-container{
    width: 50%;
    height: 70vh;
    /* border: 1px solid red; */
    align-items: center;
}
.container-arrow{
    margin-left: 50%;
    margin-top: 60px;
}
.second-container-img{
    width: 50%;
    height: 70vh;
    /* border: 1px solid red; */
    background-image: url("./images/desktop/image-transform.jpg");
    background-size: cover;
    background-position: center;
}
#complex{
    margin: 200px 0px 0px 100px;
}
.main-text{
    margin-top: 30px;
}
h3{
    margin-top: 30px;
}
span{
    border-bottom: 6px solid yellow;
}
.third-container{
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
}
.third-img-container{
    width: 50%;
    height: 70vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-stand-out.jpg");
    background-size: cover;
    background-position: center;
}
.third-text-container{
    width: 50%;
    height: 70vh;
}
.worker{
    margin-top: 200px;
    margin-left: 100px;
}
.workers-paragh{
   margin-top: 30px; 
}
.worker-heading{
    margin-top: 30px;
}
.pinky{
    border-bottom: 6px solid rgb(255, 0, 179);
}
.forth-container{
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
}
.first-image{
    width: 50%;
    height: 70vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.forth-heading{
    margin-top: 300px;
}
.forth-paragh{
    text-align: center;
    margin-top: 30px;
}
.second-image{
    width: 50%;
    height: 70vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-photography.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forth-heading-roomate{
    margin-top: 300px;
}
.forth-paragh-roomate{
    text-align: center;
    margin-top: 30px;
}
.fifth-container{
    width: 100%;
    height: 20vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    justify-content: center;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.profile{
    width: 100%;
    height: 50vh;
    /* border: 1px solid red; */
    display: flex;
}
.profile-image{
    width: 33%;
    height: 50vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-profile-image{
    width: 33%;
    height: 50vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.last-profile-image{
    width: 33%;
    height: 50vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fifth-img{
    border-radius: 100%;
}
.fifth-paragh{
    margin-top: 30px;
    text-align: center;
}
.second-profile-img{
    border-radius: 100%;
}
.fifth-paragh-classmate{
    margin-top: 30px;
    text-align: center;
}
.last-profile-img{
    border-radius: 100%;
}
.last-paragraph{
    margin-top: 30px;
    text-align: center;
}
.jennie-about{
    text-align: center;
}
.last-container-camp{
    width: 100%;
    height: 60vh;
    /* border: 1px solid red; */
    display: flex;
}
.first-image-camp{
    width: 25%;
    height: 60vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
    background-size: cover;
    background-position: center;
}
.second-image-camp{
    width: 25%;
    height: 60vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-gallery-orange.jpg");
    background-size: cover;
    background-position: center;
}
.third-image-camp{
    width: 25%;
    height: 60vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-gallery-cone.jpg");
    background-size: cover;
    background-position: center;
}
.forth-image-camp{
    width: 25%;
    height: 60vh;
    /* border: 1px solid red; */
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
    background-size: cover;
    background-position: center;
}
.contact{
    width: 100%;
    height: 40vh;
    /* border: 1px solid red; */
    background-color: rgb(166, 207, 166);
    padding-top: 70px;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.sunnylogo{
    color: rgb(26, 78, 26);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.unorder-list{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin-top: 5vh;
    gap: 50px;
    /* color: green; */
}
.color{
    color: rgb(24, 73, 24);
}
.paint{
    color: rgb(27, 75, 27);
}
.decorate{
    color: rgb(27, 75, 27);
}
.apps{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10vh;
}